main 
  each story in stories 
    article 
      .story-box 
        .story-author 
          p #{story.author}
        .story-title 
          h2 #{story.title} 
        .story-text-sample 
          p #{story.sample}
        .story-box-bottom-bar 
          .left 
            .story-likes
              span #{story.numLikes} 
          .right 
            .story-comments 
              span #{story.numComments}
          
