extends layout.pug 

include utils.pug 

block content 
  main 
    article 
      .story-box 
        .story-title 
          h2 #{story.title} 
        .story-text
          each para in story.text.split('\n')
            p #{para}
        .story-box-bottom-bar 
          .left 
            .story-likes
              span #{story.numLikes} 
          .right 
            .edit-delete
              a(href="/me/stories/" + `${story.storyId}` + "/edit") Edit 
              a(href="/me/stories/" + `${story.storyId}` + "/delete") Delete
    .comments 
      .create-comment
        .form 
      each comment in story.comments 
        .comment-box 
          .comment-author 
            | #{comment.author}
          .comment-title 
            h3 #{comment.title}
          .comment-text 
            each para in comment.text.split('\n')
              p #{para}

  


