extends layout.pug 

include utils.pug 

block content 
  main 
    article 
      .story-box-full
        .story-title 
          h2 #{story.title} 
        .story-text
          each para in story.text.split('\n')
            p #{para}
        .story-box-bottom-bar 
          .left 
            .story-like-button
              if story.liked 
                button.like-button.liked Like
              else 
                button.like-button Like          
            .story-likes
              span #{story.numLikes} 
          .right 
            if story.myStory
              .edit-delete
                a(href="/me/stories/" + `${story.storyId}` + "/edit") Edit 
                a(href="/me/stories/" + `${story.storyId}` + "/delete") Delete
    .comments 
      .comment-form
        form(action="")
          //- .comment-title 
          //-   textarea(name="commentTitle" cols="45" rows="1" placeholder="Title")
          .comment-text 
            textarea(name="commentText" cols="45" rows="5" placeholder="Comment..")
          .comment-submit 
            input(type="submit", value="Add comment")
      each comment in story.comments 
        .comment-box 
          //- .comment-title 
          //-   h3 #{comment.title}        
          .comment-author 
            | #{comment.author}
          .comment-text 
            each para in comment.text.split('\n')
              p #{para}

  script(src="/story.js")

  


