mixin validationErrorSummary(errors)
  if errors 
    div 
      p The following errors occurred: 
      ul 
        each error in errors 
          li= error

mixin field(labelText, fieldName, fieldValue, fieldType = 'text')
  div
    label(for=fieldName)= labelText
    input(type=fieldType id=fieldName name=fieldName value=fieldValue)

mixin storyPreviews(stories, source)
  .stories-container
    .my-stories
      each story in stories 
        article 
          if source === 'my-stories'
            - var link = `/me/stories/${story.id}`;
          else if source === 'feed'
            - var link = `../@${story.author}/stories/${story.id}`;

          a(href=`${link}`).story-box
            .story-title 
              h2 #{story.title} 
            .story-author 
              p #{story.author}
            .story-text
              each para in story.sample.split('\n')
                p #{para}
            .story-box-bottom-bar 
              .left 
                .story-likes
                  span.likes-num #{story.numLikes} 
                  span Likes
              .right 
                .story-comments 
                  span.comments-num #{story.numComments} 
                  span Comments
